<div class="comment_container">
  <div class="comment_index_card">
    <h4>コメント一覧</h4>
      <table id="js-table-comment" class="table mt-3">
        <%= render comments, {comment: @comment} %>
      </table>
  </div>
</div>
