<div class="comment_container">
  <div class="comment_card">
    <%= form_with model: comment, url: [post, comment], local: true do |f| %>
      <i class="fa-solid fa-comment"></i>
      <%= f.label :body, "コメント" %>
      <%= f.text_area :body, class: 'form-control mt-2 mb-4', row: 3 %>
      <%= f.submit "投稿", class: 'btn-comment' %>
    <% end %>
  </div>
</div>
