<footer>
  <div class="inner">
    <%= link_to '利用規約', '#', class:"link" %>
    <%= link_to 'プライバシーポリシー', '#', class:"link" %>
    <%= link_to 'お問い合わせ', '#', class:"link" %>
  </div>
  <div class="copyright">
    <p>Copyright © 2022. your song</p>
  </div>
</footer>
