<footer>
  <div class="inner">
    <%= link_to '利用規約', terms_path, class:"link" %>
    <%= link_to 'プライバシーポリシー', privacypolicy_path, class:"link" %>
    <%= link_to 'お問い合わせ', 'https://forms.gle/H4r7qCJADJ1voza46', class:"link", target: '_blank' %>
  </div>
  <div class="copyright">
    <p>Copyright © 2022. your song</p>
  </div>
</footer>
