<footer>
  <div class="inner">
    <%= link_to '利用規約', terms_path, class:"footer_link", data: {"turbolinks" => false} %>
    <%= link_to 'プライバシーポリシー', privacypolicy_path, class:"footer_link", data: {"turbolinks" => false} %>
    <%= link_to 'お問い合わせ', 'https://forms.gle/H4r7qCJADJ1voza46', class:"footer_link", target: '_blank', data: {"turbolinks" => false} %>
  </div>
  <div class="copyright">
    <p>Copyright © 2022. your song</p>
  </div>
</footer>
