<header class="masthead mb-auto sticky-top">
  <nav class="navbar navbar-expand">
    <%= link_to root_path, data: {"turbolinks" => false} do %>
      <%= image_tag 'logo.png', class:'logo' %>
    <% end %>
  </nav>
</header>
