<div class="container privacypolicy">
  <h2>プライバシーポリシー</h2>
  <br>
  <p>本ウェブサイトの管理者（以下，「管理者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
  <br>
  <h4>個人情報の定義</h4>
  <p>本プライバシーポリシーにおいて、個人情報とは生存する個人に関する情報であり、氏名、生年月日、住所、電話番号、メールアドレス等、特定の個人を識別することができるものをいいます。</p>
  <br>
  <h4>ユーザーから取得する情報</h4>
  <ul>
    <li>外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
    <li>Cookie（クッキー）を用いて生成された識別情報</li>
    <li>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
    <li>本ウェブサイトの滞在時間、入力履歴等の本ウェブサイトにおけるユーザーの行動履歴</li>
    <li>ユーザーの写真</li>
  </ul>
  <br>
  <h4>個人情報の利用目的</h4>
  <p>本サービスは、ユーザーから取得した情報を利用する目的は以下のとおりです。</p>
  <ul>
    <li>ユーザーの本サービスの利用履歴を管理するため</li>
    <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
    <li>市場分析、マーケティングのため</li>
    <li>ユーザーからのお問い合わせに対応するため</li>
    <li>本サービスの利用規約や法令に違反する行為に対応するため</li>
    <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
  </ul>
  <br>
  <h4>第三者提供</h4>
  <p>ユーザーからお預かりした個人情報を、個人情報保護法その他の法令に基づき開示が認められる場合を除き、お客様ご本人の同意を得ずに第三者に提供することはありません。</p>
  <br>
  <h4>アクセス解析ツールについて</h4>
  <p>当サイトは、Googleが提供するアクセス解析ツール「Googleアナリティクス」を利用しています。Googleアナリティクスは、Cookieを使用することでお客様のトラフィックデータを収集しています。お客様はブラウザの設定でCookieを無効にすることで、トラフィックデータの収集を拒否することができます。詳しくは<%= link_to 'Google アナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: 'analytics', target: '_blank', rel: 'noopener noreferrer' %>をご確認ください。</p>
  <br>
  <h4>プライバシーポリシーの変更</h4>
  <p>プライバシーポリシーの内容を適宜見直し、その改善に努めます。<br>内容の変更は、当サイトに掲載された時点で有効になるものとします。</p>
  <br>
  <h4>お問合せ</h4>
  <p>本アプリをご利用いただきありがとうございます。本ポリシーに関するお問い合わせは，お問い合わせ先までお願いいたします。</p>
</div>
