<div class="cover-container d-flex w-100 h-100 p-3 mx-auto mt-auto flex-column">
  <main role="main" class="inner cover text-center">
    <div class="container">
      <h1 class="cover-heading">your song</h1>
      <div class="cover2">
        <p class="lead">今のあなたにぴったりな曲を見つけよう!</p>
        <div class="top-btn">
          <%= link_to "さっそくはじめる", new_result_path, class:"button" %>
        </div>
      </div>
      <div class="overview">
        <%= link_to ">>使い方<<", overview_path, class: "link" %>
      </div>
      <p class="ps">※本アプリの診断による楽曲の提案は、SUPER BEAVER のみになります。</p>
    </div>
  </main>
</div>
