<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover text-center">
    <div class="container">
      <h1 class="cover-heading">your song</h1>
      <div class="cover2">
        <p class="lead">今のあなたにぴったりな曲を見つけよう!</p>
        <%= link_to "さっそくはじめる", new_result_path, class:"custom-btn button" %>
      </div>
      <p class="ps">※本アプリは、SUPER BEAVER の楽曲のみの提案になります。</p>
    </div>
  </main>
</div>
