// Place all the styles related to the admin::user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// admin_user_sessions_new.html.erb
.login_card {
    color: #fff;
    border: outset 2px rgba(255, 255, 255, 0.9);
    background-color: rgb(50, 50, 50);
    padding: 40px 40px;
    margin: 30px 0;
    width: 500px;
}

.login_form label {
    margin-top: 20px;
}

.login_button {
    margin-top: 30px;
    text-align: center;
}
