<div class="index_link">
  <%= link_to "#", class: 'icon_link' do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
  <%= link_to "#", class: 'icon_link' do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</div>
