<div class="index_link">
  <%= link_to edit_post_path(post), class: 'icon_link' do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
  <%= link_to post_path(post), class: 'icon_link', method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</div>
