<div class="container mt-auto">
  <div class="result2">
    <div class="row2 post_index">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="index_card mb-4 mx-4">
              <div class="user_card">
                <i class="fa-regular fa-user"></i>
                <%= link_to post.user.name, post_path(post), class: 'link_show index_user' %>
                <%= render 'crud_menus' %>
              </div>
              <iframe src="https://open.spotify.com/embed/track/<%= post.track_id %>?utm_source=generator" 
                width="100%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
              </iframe>
              <div class=" index_emotional_state text-center">
                <%= link_to post.emotional_state_i18n, post_path(post), class: 'link_show' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>投稿がありません</p>
      <% end %>
    </div>
  </div>
</div>