<% content_for(:title, t('.title')) %>
<div class="cover-container d-flex mx-auto flex-column">
  <div class="post_container">
    <div class="new_card">
      <iframe src="https://open.spotify.com/embed/track/<%= @track_id %>?utm_source=generator" 
        width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
      </iframe>
      <%= render 'form', { post: @post, track_id: @track_id } %>
    </div>
  </div>
</div>
