/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');
 @import "font-awesome";

* {
    font-family: 'Spectral', serif;
}
// application.html.erb
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cover-container {
    max-width: 42em;
}

//header.html.erb
.mb-auto {
    margin-bottom: auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

// top.html.erb
.container {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cover {
    padding: 0 1.5rem;
    line-height: 15px;
}

.cover h1 {
    font-size: 9.0rem;
    margin-top: 0px;
    text-shadow: 3px 3px 3px #000;
}

.cover2 {
    margin-top: 110px;
}

.lead {
    font-size: 1.4rem !important;
    font-weight: bold !important;
    text-shadow: 3px 3px 3px #000;
}

.ps {
    font-size: 15px;
    margin-top: 40px;
}

/* ボタン */
.custom-btn {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 80%;
    padding: 20px 30px;
}

.button:hover {
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid #000;
}

//footer.html.erb
footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.inner {
    margin-top: 0;
    margin-bottom: 1rem;
}

.link {
    margin: 0 20px;
}

.link:hover {
    color: #fff;
    text-decoration: underline;
}

.link, .copyright {
    color: white;
    text-decoration: none;
}

// result_new.html.erb
.camera {
    text-align: center;
}

.analysis-btn {
    margin-top: 20px;
}

.emotion {
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    text-shadow: 3px 3px 3px #000;
    margin-top: 30px;
    text-align: center;
}

.btn-2 {
    display: flex;
    justify-content: center;
}

/* ボタン */
.button-2 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 20px;
    margin: 20px 30px;
}

.button-2:hover {
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid #000;
}

// result_show.html.erb
.result_emotion, .result_song {
    text-shadow: 3px 3px 3px #000;
}

.result_emotion {
    border: outset 2px rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    background-color: rgba(127, 127, 127, 0.9);
    display: flex;
    padding: 30px 70px;
}

.result_emotion img {
    margin: auto;
}

.result_emotion p {
    font-size: 18px;
    margin: auto;
}

.result_song h4 {
    padding: 0 10px;
    margin: 40px 0 30px 0;
}

.result_song p {
    font-size: 20px;
    margin-top: 16px;
}

.result_song audio {
    margin: auto;
}

.song_info {
    display: flex;
    margin: 10px auto;
}

.card {
    background-color: rgba(50, 50, 50, 0.9) !important;
    padding: 50px 30px;
}

.btn-3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* ボタン */
.button-3 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 80%;
    padding: 15px 13px 15px 17px;
    margin: 20px 50px;
}

.button-3:hover {
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid #000;
}

.button-4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 80%;
    padding: 15px 30px;
    margin: 20px 50px;
}

.button-4:hover {
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid #000;
}

// song_index.html.erb
.card2 {
    background-color: #242424d3 !important;
    padding: 1.5rem 5rem;
    margin-bottom: 2rem;
}

.index {
    color: white;
    margin-top: 10px;
}

.index2 {
    display: flex;
}

.link {
    text-decoration: none;
    padding-top: 8px;
}

.song {
    display: flex;
    margin: 20px auto;
}

.song p {
    font-size: 20px;
    margin-top: 14px;
}

.spotify {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 16px;
}

.img-pre {
    display: flex;
    margin: 0 0 0 auto;
}

.img-pre p {
    margin-right: 70px;
}

.image {
    margin-left: 20px;
    margin-right: 30px;
    vertical-align: top;
}

.song audio {
    margin-left: 20px;
}

// song_new.html.erb
.search, .result {
    color: #fff;
}

.result {
    margin-top: 40px;
}

.album {
    margin-top: 1.5rem;
}

.album_image {
    margin: 20px 0px;
}

.track {
   padding: 0 8rem;
}

.row {
    font-size: 20px;
}

.track_name {
    width: 310px !important;
}

.track p {
    margin-top: 5px;
}

.form {
    width: 60px !important;
}

// song_search.html.erb
.result2 {
    color: #fff;
    margin-top: 50px;
}

.album_info {
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
    margin-bottom: 0;
}

.artist {
    font-size: 14px !important;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

/* スマホ対応 */
@media (max-width: 1000px) {
    body:before {
        content: "";
        background-image: url("background2.png");
        background-position: center;
    }
}

@media (max-width: 670px) {

body:before {
    content: "";
    background-image: url("background2.png");
    background-position: center;
}

.logo {
    width: 150px;
    height: 50px;
}

.cover {
    margin-top: 60px;
}

.cover h1 {
    font-size: 4.5rem;
}

.lead {
    font-size: 0.8rem !important;
}

.ps {
    font-size: 11px;
}

.btn-1 {
    font-size: 11px;
    padding: 10px 20px;
    margin-top: 5px;
}

.link, .copyright {
    font-size: 12px;
}
}
