/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');
 @import "font-awesome";

* {
    font-family: 'Spectral', serif;
}
// application.html.erb
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cover-container {
    max-width: 42em;
}

//header.html.erb
.navbar {
    background-color: rgba(50, 50, 50, 0.5);
}

.logo {
    width: 180px;
    height: 60px;
    margin-left: 10px;
}

.header_right {
    margin-right: 10px;
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

// top.html.erb
.container {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cover {
    padding: 0 1.5rem;
    line-height: 15px;
}

.cover h1 {
    font-size: 122px;
    margin-top: 50px;
    text-shadow: 3px 3px 3px #000;
}

.cover2 {
    margin-top: 110px;
}

.lead {
    font-size: 1.4rem !important;
    font-weight: bold !important;
    text-shadow: 3px 3px 3px #000;
}

.overview {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.ps {
    font-size: 15px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
    margin-top: 30px;
}

/* ボタン */
.top-btn {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
}

.button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 80%;
    padding: 15px 25px;
}

.button:hover {
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid #000;
}

//footer.html.erb
footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.inner {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer_link {
    margin: auto 20px;
}

.footer_link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer_link, .copyright {
    color: white;
    text-decoration: none;
}

// overview.html.erb
.service {
    color: #fff;
    border: outset 3px rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    background-color:  rgba(80, 80, 80, 0.9);
    padding: 40px 40px 55px 40px;
}

.service-title {
    text-shadow: 2px 2px 2px #000;
}

.service-content {
    text-shadow: 2px 2px 2px #000;
    margin: 40px 0;
}

.content-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.overview-btn {
    text-align: center;
    margin-top: 50px;
}

// privacypolicy.html.erb
.privacypolicy {
    text-shadow: 2px 2px 2px #000;
}

.analytics {
    color: #fff;
    text-decoration: underline;
}

// terms.html.erb
.terms {
    text-shadow: 2px 2px 2px #000;
}

/* スマホ対応 */
@media (max-width: 1000px) {
    body:before {
        content: "";
        background-image: url("background2.png");
        background-position: center;
    }
}

@media (max-width: 670px) {

body:before {
    content: "";
    background-image: url("background2.png");
    background-position: center;
}

// header.html.erb
.logo {
    width: 150px;
    height: 50px;
}

// top.html.erb
.container h1 {
    font-size: 58px;
    margin-top: 60px;
}

.cover2 {
    margin-top: 70px;
}

.lead {
    font-size: 14px !important;
}

.top-btn {
    margin-top: 10px;
}

.ps {
    font-size: 10px;
}

.overview {
    margin-top: 10px;
}

.button {
    font-size: 11px;
    padding: 15px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

//footer.html.erb
.inner {
    font-size: 12px;
}

// overview.html.erb
.service-title {
    font-size: 20px;
}

.content-title {
    font-size: 15px;
}

.content {
    font-size: 11px;
}

.service {
    padding: 30px 40px 45px 40px;
}

// privacypolicy.html.erb
.privacypolicy h2 {
    font-size: 18px;
    text-align: center;
}

.privacypolicy h4 {
    font-size: 16px;
}

.privacypolicy p, .privacypolicy ul {
    font-size: 11px;
}

// terms.html.erb
.terms h2 {
    font-size: 18px;
    text-align: center;
}

.terms h4 {
    font-size: 16px;
}

.terms p, .terms ol {
    font-size: 11px;
}

// footer.html.erb
.link, .copyright {
    font-size: 12px;
}
}
