// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// users_new.html.erb
.register_button {
    margin-top: 30px;
    text-align: center;
}

.btn {
    width: 420px !important;
}

.btn-user {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: rgb(255, 145, 0);
    padding: 6px 12px;
    width: 100%;
}

.btn-user:hover {
    background:  rgb(255, 255, 255);
    color: #000;
}
